.ArticlesCol1{
    width: 70%;
    align-items: left;
  
}
.LoadMore{
    margin-top: 40px;
}
.LoadMore:hover{
    border: 1px solid lightcoral;
    color: lightcoral;
    font-size: 14px;
}
@media screen and (min-width:320px) and (max-width:480px) {
    .ArticlesCol1{
        width: 90%;
        align-items: left;
      
    }
}