.Img-last{
    margin-top: 50px;
    width: 670px;
    height: 400px;
    position: relative;

}

.btn-none1{
   border: 0px;
    background-color: white;
}

.btn-none1:hover img{
    width: 700px;
    height:420px ;
}
.last-img-text1{
    position: absolute;
    color: white;
    margin-top: 210px;
    margin-left: 240px;
    text-align: center;
    z-index: 1;
    letter-spacing: 0.6px;
}
.last-img-text2{
    position: absolute;
    margin-top: 260px;
    margin-left: 310px;
    z-index: 1;
    color: #FCFCFC;
    opacity: 0.57; 
    font-size: 10px;
    letter-spacing: 0.6px;   

   
}


@media screen and (min-width:320px) and (max-width:480px) {
    .img-last-col1{
        display: none;
    }
    
}
